<div class="card-simple" data-background-image="<%= service.image.url %>">
    <div class="card-simple-background">
        <div class="card-simple-content">
            <h2><a href="<%= place_service_path(@place, service) %>">
                    <%= service.title %></a></h2>
            <div class="card-simple-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div><!-- /.card-rating -->
            <div class="card-simple-actions">
                <a href="javascript:;" class="p-0 disabled fa" id="service-<%= service.id %>-bookmark" style="border: 0 none;">
                    <%= render 'votes/short_vote', vote_type: "bookmark", item: service, item_type: "service", vote_weight: 1, color: "info" %>
                </a>
                <a href="<%= place_service_path(@place, service) %>" class="fa fa-search"></a>
                <a href="javascript:;" class="p-0 disabled fa" id="service-<%= service.id %>-heart" style="border: 0 none;">
                    <%= render 'votes/short_vote', vote_type: "heart", item: service, item_type: "service", vote_weight: 1, color: "danger" %>
                </a>
            </div><!-- /.card-simple-actions -->
        </div><!-- /.card-simple-content -->
        <div class="card-simple-label">
            <%= service.category_list.sample %>
        </div>
        <div class="card-simple-price">
            <%= service.price %>
        </div>
    </div><!-- /.card-simple-background -->
</div><!-- /.card-simple -->