<li class="<%= action_name=='index' ? 'active' : '' %>"><a href="/dashboard"><i class="fa fa-folder-o"></i></a></li>
<li class="<%= action_name=='show' ? 'active' : '' %>"><a href="<%= dashboard_show_path %>"><i class="fa fa-bar-chart"></i></a></li>
<li class="<%= action_name=='edit' ? 'active' : '' %>"><a href="<%= dashboard_edit_path %>"><i class="fa fa-pencil"></i></a></li>
<li class="<%= action_name=='pricing' ? 'active' : '' %>"><a href="<%= dashboard_pricing_path %>"><i class="fa fa-money"></i></a></li>
<li class="<%= action_name=='reports' ? 'active' : '' %>"><a href="<%= dashboard_reports_path %>"><i class="fa fa-flag-o"></i></a></li>
<li class="<%= action_name=='settings' ? 'active' : '' %>"><a href="<%= dashboard_settings_path %>"><i class="fa fa-cog"></i></a></li>