<div class="content">
    <div class="page-title">
        <h1>Show profile</h1>
    </div><!-- /.page-title -->
    <div class="background-white p20 mb30">
        <h3 class="page-title">
            Contact Information
        </h3>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Firstname</label>
                <input type="text" class="form-control" value="<%= profile.firstname %>" disabled="" readonly="">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-6">
                <label>Lastname</label>
                <input type="text" class="form-control" value="<%= profile.lastname %>" disabled="" readonly="">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-6">
                <label>Gender</label>
                <input type="text" class="form-control" value="<%= profile.gender %>" disabled="" readonly="">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-6">
                <label>Phone</label>
                <input type="text" class="form-control" value="<%= profile.phone %>" disabled="" readonly="">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-12">
                <label>Reputation</label>
                <input type="number" class="form-control" value="<%= profile.reputation %>" disabled="" readonly="">
            </div><!-- /.form-group -->
        </div><!-- /.row -->
    </div>
    <div class="background-white p20 mb30">
        <h3 class="page-title">
            Social Connections
        </h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Facebook</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="http://facebook.com/">
                </div><!-- /.col-* -->
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Twitter</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="http://twitter.com/">
                </div><!-- /.col-* -->
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Linkedin</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="http://linkedin.com/">
                </div><!-- /.col-* -->
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Dribbble</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="http://dribbble.com/">
                </div><!-- /.col-* -->
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Instagram</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="http://instagram.com/">
                </div><!-- /.col-* -->
            </div><!-- /.form-group -->
        </div><!-- /.form-inline -->
    </div><!-- /.background-white -->
    <div class="background-white p20 mb30">
        <h3 class="page-title">
            Address
        </h3>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>State</label>
                <input type="text" class="form-control" value="New York">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-6">
                <label>City</label>
                <input type="text" class="form-control" value="New York City">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-6">
                <label>Street</label>
                <input type="text" class="form-control" value="Everton Eve">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-3">
                <label>House Number</label>
                <input type="text" class="form-control" value="123">
            </div><!-- /.form-group -->
            <div class="form-group col-sm-3">
                <label>ZIP</label>
                <input type="text" class="form-control" value="12345">
            </div><!-- /.form-group -->
        </div><!-- /.row -->
    </div>
    <div class="background-white p20 mb30">
        <h3 class="page-title">
            Biography
        </h3>
        <textarea class="form-control" rows="7"></textarea>
    </div>
</div><!-- /.content -->