<link rel="stylesheet" type="text/css" href="/assets/typeahead.css">
<%= form_with(url: searches_path, method: :get, data: {remote: false}, html: {class: "filter"}) do |f| %>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            <%= f.text_field :q, placeholder: "Keyword", class: "form-control" %>
        </div><!-- /.form-group -->
    </div><!-- /.col-* -->
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            <select name="type" id="type" class="form-control" title="What are you looking for ?">
                <option value="place">Location</option>
                <option value="service">Service</option>
                <option value="profile">Person</option>
            </select>
        </div><!-- /.form-group -->
    </div><!-- /.col-* -->
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            <select name="tag" id="tag" class="form-control" title="Select Tag">
                <% tags.each do |tag| %>
                <option value="<%= tag %>">
                    <%= tag %>
                </option>
                <% end %>
            </select>
        </div><!-- /.form-group -->
    </div><!-- /.col-* -->
</div><!-- /.row -->
<hr>
<div class="row">
    <div class="col-sm-8">
        <div class="filter-actions">
            <button type="reset" class="btn-link"><i class="fa fa-close"></i> Reset Filter</button>
            <!-- <a href="#"><i class="fa fa-save"></i> Save Search</a> -->
        </div><!-- /.filter-actions -->
    </div><!-- /.col-* -->
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary w-100">Redefine Search Result</button>
    </div><!-- /.col-* -->
</div><!-- /.row -->
<hr>
<h2 class="page-title mt-0 mb-0">
    <span class="result-length">
        <%= items.length %></span> results found in <span class="result-took"><%= items.took %> ms</span>
    <div class="filter-sort">
        <div class="form-group">
            <select name="sort_by" id="sort_by" title="Sort by">
                <option value="title" selected="">Title</option>
                <option value="price">Price</option>
                <option value="rating">Rating</option>
            </select>
        </div><!-- /.form-group -->
        <div class="form-group">
            <select name="order" id="order" title="Order">
                <option value="ASC" selected="">Asc</option>
                <option value="DESC">Desc</option>
            </select>
        </div><!-- /.form-group -->
    </div>
</h2><!-- /.page-title -->
<% end %>
<script src="/assets/typeahead.bundle.js"></script>
<script>
(function() {

    let substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            let matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

    let states = [];

    // <% Place.all.each do |place| %>
            states.push("<%= place.title %>");
    // <% end %>
    // <% Service.all.each do |place| %>
            states.push("<%= place.title %>");
    // <% end %>


    $('input#q').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    }, {
        name: 'states',
        source: substringMatcher(states)
    });
})();
</script>