<div class="card-simple" data-background-image="<%= place.image.url %>">
    <div class="card-simple-background">
        <div class="card-simple-content">
            <h2><a href="<%= place_path(place) %>">
                    <%= place.title %></a></h2>
            <div class="card-simple-rating">
                <%= render 'votes/ratings', ratings_length: 4.7 %>
                
            </div><!-- /.card-rating -->
            <div class="card-simple-actions">
                <%= render 'shared/actions', item: place, item_type: 'place', item_url: place_path(place) %>
            </div><!-- /.card-simple-actions -->
        </div><!-- /.card-simple-content -->
        <div class="card-simple-label">
            <%= place.tag_list.sample %>
        </div>
    </div><!-- /.card-simple-background -->
</div><!-- /.card-simple -->