<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&key=<%= Rails.application.credentials.google_map_api_key %>&callback=initmap1" async defer></script>
<%= form_with(model: place, local: true) do |form| %>
<% if place.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>
    <ul>
        <% place.errors.full_messages.each do |message| %>
        <li>
            <%= message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<h3 class="page-title">
    <%= action_name=="new" ? "New Location" : "Editing Location" %>
    <%= form.submit "Share", class: "btn btn-primary btn-xs pull-right" %>
</h3>
<div class="row">
    <div class="form-group col-sm-12">
        <%= form.label :category_id %>
        <%= collection_select(:place, :category_id, Category.all, :id, :name, {}, {class: 'form-control'}) %>
    </div>
    <div class="form-group col-sm-6">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group col-sm-6">
        <%= form.label :tag_list %>
        <select class="form-control" title="Select Activity" name="place[tag_list]" id="place_tag_list" multiple="true">
            <% categories.each do |category| %>
            <option <%= action_name=="edit" && place.category == (category) ? 'selected=""' : "" %>>
                <%= category.tag_list %>
            </option>
            <% end %>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <div class="form-group">
            <%= form.label :location, "Where are you ?" %>
            <div class="form-control" style="height: 350px; padding: 1%; overflow: hidden;">
                <div id='map-1' style='width: 100%;'></div>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="row">
            <div class="form-group col-sm-12">
                <%= form.label :location %>
                <%= form.text_field :location, class: "form-control" %>
            </div>
            <div class="form-group col-sm-12">
                <%= form.label :longitude %>
                <%= form.text_field :longitude, class: "form-control" %>
            </div>
            <div class="form-group col-sm-12">
                <%= form.label :latitude %>
                <%= form.text_field :latitude, class: "form-control" %>
            </div>
            <div class="form-group col-sm-12" style="height: 113px;">
                <%= form.label :description %>
                <%= form.text_area :description, class: "form-control", style: "height: 100%;" %>
            </div>
        </div>
    </div>
</div><!-- /.row -->
<% end %>
