<div class="content">
    <div class="page-title">
        <h1>My locations</h1>
    </div><!-- /.page-title -->
    <div class="posts">
        <% @places.each do |place| %>
        <div class="post">
            <div class="post-image">
                <img src="<%= place.image.url %>" alt="<%= place.title.capitalize + ' Logo' %>">
                <%= link_to "View", place, class: "read-more" %>
            </div><!-- /.post-image -->
            <div class="post-content">
                <h2><a href="<%= place_path(place) %>"><%= place.title %><a></h2>
                <p><%= place.description %></p>
            </div><!-- /.post-content -->
            <div class="post-meta clearfix">
                <div class="post-meta-author">By <a href="<%= profile_path(place.user.profile) %>"><%= place.user.fullname %></a></div><!-- /.post-meta-author -->
                <div class="post-meta-date"><%= place.created_at.strftime("%d/%m/%Y") %></div><!-- /.post-meta-date -->
                <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="<%= search_path(tag: place.activity) %>"><%= place.activity %></a></div><!-- /.post-meta-categories -->
                <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="<%= place_path(place) %>#reviews">
                <%= place.reviews.length %> comments</a></div><!-- /.post-meta-comments -->
                <div class="post-meta-more">
                    <%= link_to place do %>
                        Read More <i class="fa fa-chevron-right"></i>
                    <% end %>
                </div><!-- /.post-meta-more -->
            </div><!-- /.post-meta -->
        </div><!-- /.post -->
        <% end %>
    </div><!-- /.posts -->
</div><!-- /.content -->