<div class="content">
    <div class="page-title">
        <h1>Location detail</h1>
    </div><!-- /.page-title -->
    <div class="posts post-detail">
        <div class="detail-banner" style="background-image: url(<%= place.image.url %>);">
            <div class="container">
                <div class="detail-banner-left">
                    <div class="detail-banner-info">
                        <div class="detail-label">
                            <%= place.activity %>
                        </div>
                        <div class="detail-verified">Verified</div>
                    </div><!-- /.detail-banner-info -->
                    <h2 class="detail-title">
                        <%= place.title %>
                    </h2>
                    <div class="detail-banner-address">
                        <i class="fa fa-map-o"></i>
                        <%= place.location %>
                    </div><!-- /.detail-banner-address -->
                    <div class="detail-banner-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div><!-- /.detail-banner-rating -->
                    <div class="detail-banner-btn bookmark p-0" id="place-<%= place.id %>-bookmark">
                        <%= render 'votes/vote', vote_type: "bookmark", item: place, item_type: "place", first_content: "Bookmark", second_content: "Bookmarked", vote_weight: 1, color: "info" %>
                    </div><!-- /.detail-claim -->
                    <div class="detail-banner-btn heart p-0" id="place-<%= place.id %>-heart">
                        <%= render 'votes/vote', vote_type: "heart", item: place, item_type: "place", first_content: "Give Heart", second_content: "I Love It", vote_weight: 1, color: "danger" %>
                    </div><!-- /.detail-claim -->
                    <div class="detail-banner-btn">
                        <%= link_to "Go to", go_to_path(place.id) %>
                    </div><!-- /.detail-claim -->
                </div><!-- /.detail-banner-left -->
            </div><!-- /.container -->
        </div><!-- /.detail-banner -->
        <!-- <img src="/assets/img/tmp/blog-1.jpg" alt="A Clockwork Origin"> -->
        <div class="post-meta clearfix">
            <div class="post-meta-author">By <a href="blog-detail.html">
                    <%= place.user.fullname %></a></div><!-- /.post-meta-author -->
            <div class="post-meta-date">
                <%= place.created_at.strftime("%d/%m/%Y") %>
            </div><!-- /.post-meta-date -->
            <div class="post-meta-categories">
                <% tag = place.tag_list.sample %>
                <i class="fa fa-tags"></i> <a href="<%= search_path(tag: tag) %>"><%= tag %></a>
            </div><!-- /.post-meta-categories -->
            <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="#reviews">
                <span class="place-<%= place.id %>-review-length">
                    <%= render 'votes/length', votes_length: place.comment_threads.length %>
                </span>
                <span>
                    reviews
                </span>
            </a></div><!-- /.post-meta-comments -->
        </div><!-- /.post-meta -->
        <div class="post-meta-tags clearfix">
            Tags:
            <ul>
                <% place.tag_list.each do |tag| %>
                <li class="tag"><a href="<%= search_path(tag: tag) %>">
                        <%= tag %></a></li>
                <% end %>
            </ul>
        </div><!-- /.post-meta -->
    </div><!-- /.post -->
    <div class="detail-gallery">
        <h2>What else ?</h2>
        <div class="detail-gallery-preview">
            <a href="<%= place.services.first.image.url %>">
                <img src="<%= place.services.first.image.url %>" alt="---">
            </a>
        </div>
        <ul class="detail-gallery-index">
            <% place.services.each do |service| %>
            <li class="detail-gallery-list-item active">
                <a data-target="<%= service.image.url %>">
                    <img src="<%= service.image.url %>" alt="---">
                </a>
            </li>
            <% end %>
        </ul>
    </div><!-- /.detail-gallery -->
    <h2>We are here</h2>
    <div class="background-white p20">
        <!-- Nav tabs -->
        <ul id="listing-detail-location" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#simple-map-panel" aria-controls="simple-map-panel" role="tab" data-toggle="tab">
                    <i class="fa fa-map"></i> Map
                </a>
            </li>
            <li role="presentation">
                <a href="#street-view-panel" aria-controls="street-view-panel" role="tab" data-toggle="tab">
                    <i class="fa fa-street-view"></i> Street View
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="height: 300px;">
            <div role="tabpanel" class="tab-pane fade in active h-100" id="simple-map-panel">
                <div class="detail-map h-100">
                    <div class="map-position h-100">
                        <div id="listing-detail-map" class="h-100" data-transparent-marker-image="/assets/img/transparent-marker-image.png" data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"labels.text.fill","stylers":[{"color":"#b43b3b"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"lightness":"8"},{"color":"#bcbec0"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#5b5b5b"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7cb3c9"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#abb9c0"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#fff1f1"},{"visibility":"off"}]}]' data-zoom="15" data-latitude="40.779995" data-longitude="-73.969133" data-icon="fa fa-coffee">
                        </div><!-- /#map-property -->
                    </div><!-- /.map-property -->
                </div><!-- /.detail-map -->
            </div>
            <div role="tabpanel" class="tab-pane fade h-100" id="street-view-panel">
                <div id="listing-detail-street-view" class="h-100" data-latitude="40.758896" data-longitude="-73.985135" data-heading="225" data-pitch="0" data-zoom="1">
                </div>
            </div>
        </div>
    </div>
    <h2>Video</h2>
    <div class="detail-video text-center bg-dark" style="width: 100%;padding: 5px 0 0 0;overflow-x: auto;">
        <iframe src="https://player.vimeo.com/video/36911719?color=009f8b&byline=0&portrait=0" width="653" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div><!-- /.detail-video -->
    <div class="row detail-content">
        <div class="col-sm-12">
            <h2 id="reviews">All reviews <span class="place-<%= place.id %>-review-length">
                <%= render 'votes/length', votes_length: place.comment_threads.length %>
            </span></h2>
            <div class="reviews" id="comments-list">
                <% if @comments.any? %>
                <% @comments.each do |comment| %>
                <%= render 'comments/comment', comment: comment %>
                <% end %>
                <% end %>
            </div><!-- /.reviews -->
            <h2>Submit a review</h2>
            <div id="">
                <%= render 'comments/form', comment: Comment.new(commentable: @place, user: current_user, body: "No comment") %>
            </div>
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</div><!-- /.content -->
<style type="text/css">
.h-100 {
    height: 100%;
}

.bg-dark {
    background-color: black;
}
</style>