<script type="text/javascript" src="/assets/linx-js/scroll-here.js"></script>
<script type="text/javascript" src="/assets/linx-js/load-page.js"></script>
<%= yield :foot_js %>
<%= render 'places/new_place_btn' %>
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>About At-e &amp; Superlist</h2>
                    <p>At-e is a dream built upon ruby and ruby on rails to bring development to my country (to start).</p>
                    <p>Superlist is directory template built upon Bootstrap and SASS to bring great experience in creation of directory.</p>
                </div><!-- /.col-* -->
                <div class="col-sm-4">
                    <h2>Contact Information</h2>
                    <p>
                        If you wan't to contact me, don't search for me, I'll find you.<br>
                        or by <a href="tel:<%= ENV['LINX_PHONE'] %>"><%= ENV['LINX_PHONE'] %></a>, <a href="mailto:<%= ENV['LINX_EMAIL'] %>"><%= ENV['LINX_EMAIL'] %></a>
                    </p>
                </div><!-- /.col-* -->
                <div class="col-sm-4">
                    <h2>Stay Connected</h2>
                    <ul class="social-links nav nav-pills">
                        <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul><!-- /.header-nav-social -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                &copy; 2015 All rights reserved. Created by <a href="javascript:;">Aviators</a>.
            </div><!-- /.footer-bottom-left -->
            <div class="footer-bottom-right">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="/pages/pricing">Pricing</a></li>
                    <li><a href="/pages/terms-conditions">Terms &amp; Conditions</a></li>
                    <li><a href="/pages/contact">Contact</a></li>
                </ul><!-- /.nav -->
            </div><!-- /.footer-bottom-right -->
        </div><!-- /.container -->
    </div>
</footer><!-- /.footer -->