<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
<title>
    <%= user_signed_in? ? current_user.id : 0 %>
    <%= controller_name %>
    <%= action_name %>
</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nunito:300,400,700">
<link rel="stylesheet" type="text/css" href="/assets/libraries/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/libraries/owl.carousel/assets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/assets/libraries/colorbox/example1/colorbox.css">
<link rel="stylesheet" type="text/css" href="/assets/libraries/bootstrap-select/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/assets/libraries/bootstrap-fileinput/fileinput.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/superlist.css">
<style type="text/css">
.full-height {
    height: 100vh;
    overflow: hidden;
}

#error_explanation {
    border: 2px solid darkred;
    background-color: red;
    padding: 1% 2%;
    margin: 1% 0;
}

#error_explanation * {
    color: white;
}

#error_explanation h2 {
    border-bottom: 2px solid darkred;
}
</style>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/map.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js"></script>
<script type="text/javascript" src="/assets/libraries/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/assets/libraries/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="/assets/libraries/flot/jquery.flot.spline.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-select/bootstrap-select.min.js"></script>
<% if page_need_google_map? %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&key=<%= Rails.application.credentials.google_map_api_key %>"></script>
<script type="text/javascript" src="/assets/libraries/jquery-google-map/infobox.js"></script>
<script type="text/javascript" src="/assets/libraries/jquery-google-map/markerclusterer.js"></script>
<script type="text/javascript" src="/assets/libraries/jquery-google-map/jquery-google-map.js"></script>
<% end %>
<script type="text/javascript" src="/assets/libraries/owl.carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/libraries/bootstrap-fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/superlist.js"></script>