<header class="header">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="/">
                        <img src="/assets/img/logo.png" alt="Logo">
                        <span>Superlist</span>
                    </a>
                </div><!-- /.header-logo -->
                <div class="header-content">
                    <div class="header-top">
                        <div class="header-search">
                            <%= form_with(url: search_path, method: :get, data: {remote: false}) do |f| %>
                            <%= f.text_field :q, placeholder: "Search for...", class: "form-control" %>
                            <%= f.submit "Submit", :disable_with => 'Submiting...', class: "hide collapse" %>
                            <% end %>
                        </div><!-- /.header-search -->
                        <ul class="header-nav-social social-links nav nav-pills">
                            <% if user_signed_in? %>
                            <li>
                                <%# render_shareable %>     
                            </li>
                            <% else %>
                            <li><a title="Sign in with facebook" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-facebook"></i></a></li>
                            <li><a title="Sign in with google" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-google"></i></a></li>
                            <li><a title="Sign in with twitter" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-twitter"></i></a></li>
                            <% end %>
                        </ul><!-- /.header-nav-social -->
                        <ul class="header-nav-secondary nav nav-pills">
                            <% if user_signed_in? %>
                            <li><a class="text-success">Connected</a></li>
                            <% else %>
                            <li><a href="<%= new_user_session_path %>">Login</a></li>
                            <li><a href="<%= new_user_registration_path %>">Register</a></li>
                            <% end %>
                        </ul>
                    </div><!-- /.header-top -->
                    <div class="header-bottom">
                        <% if user_signed_in? %>
                        <div class="header-action">
                            <a href="<%= new_place_path %>" class="header-action-inner" title="Share my location" data-toggle="tooltip" data-placement="bottom">
                                <i class="fa fa-plus"></i>
                            </a><!-- /.header-action-inner -->
                        </div><!-- /.header-action -->
                        <% else %>
                        <% end %>
                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                            <%= render 'shared/nav-list' %>
                        </ul>
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->
<%= render 'layouts/flash' %>