<!DOCTYPE html>
<html>

<head>
    <%= render 'layouts/head' %>
</head>

<body>
    <div class="page-wrapper">
        <%= render 'layouts/navbar' %>
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-lg-9" id="page-content">
                            <%= yield %>
                            <% content_for :foot_js do %>
                            <script type="text/javascript">
                            loadPage(page_id = 'page-content', first_link = '<%= places_path %>');
                            </script>
                            <% end %>
                        </div><!-- /.col-* -->
                        <div class="col-sm-4 col-lg-3 detail-content">
                            <div class="sidebar">
                                <div class="background-white p20">
                                    <div class="detail-overview-hearts">
                                        <i class="fa fa-heart"></i> <strong class="place-<%= @place.id %>-heart-length">
                                            <%= render 'votes/length', votes_length: @place.get_upvotes(vote_scope: "heart").length %></strong> people love it
                                    </div>
                                    <div class="detail-overview-rating">
                                        <i class="fa fa-star"></i> <strong>4.7 / 5 </strong>from <a href="#reviews"><span class="place-<%= @place.id %>-review-length">
                                                <%= render 'votes/length', votes_length: @place.reviews.length %></span> reviews</a>
                                    </div>
                                    <div class="detail-actions row">
                                        <div class="col-sm-4">
                                            <div class="btn btn-primary btn-book"><i class="fa fa-shopping-cart"></i></div>
                                        </div><!-- /.col-sm-4 -->
                                        <div class="col-sm-4">
                                            <div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i>
                                                <div class="share-wrapper">
                                                    <ul class="share">
                                                        <li><i class="fa fa-facebook"></i> Facebook</li>
                                                        <li><i class="fa fa-twitter"></i> Twitter</li>
                                                        <li><i class="fa fa-google-plus"></i> Google+</li>
                                                        <li><i class="fa fa-pinterest"></i> Pinterest</li>
                                                        <li><i class="fa fa-chain"></i> Link</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- /.col-sm-4 -->
                                        <div class="col-sm-4">
                                            <div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i></div>
                                        </div><!-- /.col-sm-4 -->
                                    </div><!-- /.detail-actions -->
                                </div>
                                <div class="widget">
                                    <h2 class="widgettitle"><%= @place.location %></h2>
                                    <ul class="list-unstyled">
                                        <li class="w-100">
                                            <a class="btn btn-primary w-100" href="<%= place_path(@place) %>">
                                                <%= @place.title %></a>
                                        </li>
                                        <li class="w-100">
                                            <a class="btn btn-primary w-100" href="<%= place_services_path(@place) %>">Its services</a>
                                        </li>
                                        <% if current_user.has?(@place) %>
                                        <li class="w-100">
                                            <a class="btn btn-primary w-100" href="<%= edit_place_path(@place) %>">Edit
                                                <%= @place.location %></a>
                                        </li>
                                        <li class="w-100">
                                            <a class="btn btn-primary w-100" href="<%= new_place_service_path(@place) %>">New service</a>
                                        </li>
                                        <li class="w-100">
                                            <a class="btn btn-primary w-100" href="<%= new_place_path %>">Share a new location</a>
                                        </li>
                                        <% end %>
                                    </ul>
                                </div><!-- /.widget -->
                                <div class="widget">
                                    <h2 class="widgettitle">Associated services</h2>
                                    <% @services.limit(5).each do |service| %>
                                    <div class="cards-small">
                                        <div class="card-small">
                                            <div class="card-small-image">
                                                <a href="<%= place_service_path(@place, service) %>">
                                                    <img src="<%= service.image.url %>" alt="---">
                                                </a>
                                            </div><!-- /.card-small-image -->
                                            <div class="card-small-content">
                                                <h3><a href="<%= place_service_path(@place, service) %>">
                                                        <%= service.title %></a></h3>
                                                <h4><a href="<%= go_to_path(@place) %>">
                                                        <span class="fa fa-map-marker text-info"></span> <%= service.place.location %></a></h4>
                                                <div class="card-small-price">
                                                    <%= service.price %>
                                                </div>
                                            </div><!-- /.card-small-content -->
                                        </div><!-- /.card-small -->
                                    </div><!-- /.cards-small -->
                                    <% end %>
                                    <div class="w-100 text-center">
                                        <a href="<%= place_services_path(@place) %>" class="btn btn-primary w-100">Load more</a>
                                    </div>
                                    <h2 class="widgettitle">Recent Locations</h2>
                                    <div class="cards-small">
                                        <% @most_famous_places.limit(3).each do |place| %>
                                    <div class="cards-small">
                                        <div class="card-small">
                                            <div class="card-small-image">
                                                <a href="<%= place_path(place) %>">
                                                    <img src="<%= place.image.url %>" alt="---">
                                                </a>
                                            </div><!-- /.card-small-image -->
                                            <div class="card-small-content">
                                                <h3><a href="<%= place_path(place) %>">
                                                        <%= place.title %></a></h3>
                                                <h4><a href="<%= go_to_path(place) %>">
                                                        <span class="fa fa-map-marker text-info"></span> <%= place.location %></a></h4>
                                                <div class="card-small-price">
                                                    <%# place.price %>
                                                </div>
                                            </div><!-- /.card-small-content -->
                                        </div><!-- /.card-small -->
                                    </div><!-- /.cards-small -->
                                    <% end %>
                                    <div class="w-100 text-center">
                                        <a href="<%= places_path %>" class="btn btn-primary w-100">Load more</a>
                                    </div>
                                    </div><!-- /.cards-small -->
                                    <h2>Amenities</h2>
                                    <div class="background-white p20">
                                        <ul class="detail-amenities">
                                            <li class="yes">WiFi</li>
                                            <li class="yes">Parking</li>
                                            <li class="no">Vine</li>
                                            <li class="yes">Terrace</li>
                                            <li class="no">Bar</li>
                                            <li class="yes">Take Away Coffee</li>
                                            <li class="no">Catering</li>
                                            <li class="yes">Raw Food</li>
                                            <li class="no">Delivery</li>
                                            <li class="yes">No-smoking room</li>
                                            <li class="no">Reservations</li>
                                        </ul>
                                    </div><!-- /.detail-amenities -->
                                </div><!-- /.widget -->
                                <div class="widget">
                                    <h2 class="widgettitle">Working Hours</h2>
                                    <div class="p20 background-white">
                                        <div class="working-hours">
                                            <div class="day clearfix">
                                                <span class="name">Mon</span><span class="hours">07:00 AM - 07:00 PM</span>
                                            </div><!-- /.day -->
                                            <div class="day clearfix">
                                                <span class="name">Tue</span><span class="hours">07:00 AM - 07:00 PM</span>
                                            </div><!-- /.day -->
                                            <div class="day clearfix">
                                                <span class="name">Wed</span><span class="hours">07:00 AM - 07:00 PM</span>
                                            </div><!-- /.day -->
                                            <div class="day clearfix">
                                                <span class="name">Thu</span><span class="hours">07:00 AM - 07:00 PM</span>
                                            </div><!-- /.day -->
                                            <div class="day clearfix">
                                                <span class="name">Fri</span><span class="hours">07:00 AM - 07:00 PM</span>
                                            </div><!-- /.day -->
                                            <div class="day clearfix">
                                                <span class="name">Sat</span><span class="hours">07:00 AM - 02:00 PM</span>
                                            </div><!-- /.day -->
                                            <div class="day clearfix">
                                                <span class="name">Sun</span><span class="hours">Closed</span>
                                            </div><!-- /.day -->
                                        </div>
                                    </div>
                                </div><!-- /.widget -->
                                <div class="widget">
                                    <h2 class="widgettitle">Categories</h2>
                                    <ul class="menu">
                                        <li><a href="#">Automotive</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="#">Nightlife</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Transportation</a></li>
                                        <li><a href="#">Real Estate</a></li>
                                        <li><a href="#">Restaurants</a></li>
                                    </ul><!-- /.menu -->
                                </div><!-- /.wifget -->
                                <div class="widget">
                                    <h2 class="widgettitle">Archives</h2>
                                    <ul class="menu">
                                        <li><a href="#">August <strong class="pull-right">12</strong></a></li>
                                        <li><a href="#">July <strong class="pull-right">23</strong></a></li>
                                        <li><a href="#">June <strong class="pull-right">53</strong></a></li>
                                    </ul><!-- /.menu -->
                                </div><!-- /.wifget -->
                                <div class="detail-payments">
                                    <h3>Accepted Payments</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-paypal"></i></a></li>
                                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                        <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- /.sidebar -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
        <%= render 'layouts/footer' %>
    </div>
</body>

</html>